/* ресет Css */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}

ul li{
    display: block;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 400;
}

nav, footer, header, aside{
    display: block;
}

input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* Контейнер */

.container{
    max-width: 1125px;
    margin: 0 auto ;
    padding: 0 15px;
}

/* Шрифты */
body{
    /* 
    font-family: 'Anton', sans-serif;

    font-family: 'Open Sans', sans-serif; */

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

b{
    color: #EE4248;
}

html,
body{
    height: 100%;
    width: 100%;        
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.main{
    flex: 1;
}

.footer{
    margin-top: auto;
}


/* Шапка */

.header-top{
    max-width: 1117px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 22px 0px;
    align-items: center;
}

.menu__list{
    display: flex;
    margin-left: 108px;
    

}
.menu__item{
    margin-right: 50px;
    
}
.menu__link{
    display: block;
    transition: all 0.3s ease 0s;
    color: #1F2E35CC;
    
}

.menu__link--active:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    
}

.media__list{
    display: flex;
}

.media__item{
    margin-right: 24px;
}

.menu__item--arrow{
    display: flex;
}
/* Стрелочка */
.menu__arrow{
    display: inline-flex;
    width: 9px ;
    height: 9px;
    border-top: 2px solid #1F2E35CC;
    border-left: 2px solid #1F2E35CC;
    transform: rotate(-135deg);
    margin: 1px 0 0 8px;

    
}
/* MEDIA */
.media__link{
    display: block;
    transition: all 0.3s ease;
}

.media__link--active:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* Header content */
.header__content-inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 161px 0;

}

.header-info{
    max-width: 545px;
}

.header-info__title{
    font-style: Bold;
    text-transform: none;
    font-size: 48px;
    line-height: 134%;
}

.header-info__text{
    max-width: 520px;
    font-style: normal;
    margin-top: 24px;
    line-height: 29px;
}

.header-info__btn{
    transition: all 0.3s ease;
    font-size: 20px;
    text-align: center;
    display: block;
    max-width: 161px;
    justify-content: center;
    margin-top: 24px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #EE4248;
    color: #fff;
    
}

.header-info__btn--active:hover{
    background-color: #1F2E35;
    transition: all 0.3s ease;
}


/* Футер */

.footer__content{
    display: flex;
    padding-bottom: 27px;
}

.footer__item{
    max-width: 317px;
}

.list__title{
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #263238;
    line-height: 28px;
}

.list__text{
    font-size: 18px;
    font-weight: 300;
    color: #263238;
    line-height: 149.19%
}

.footer__contact{
    margin: 27px 0 0 47px;
}

.footer-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #EE4248;
}

.footer__text{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
}

/* Продукты */

.product__inner{
    width: 100%;
    padding: 122px 0 100px 0 ;
}
.product__title{
    text-align: center;
    text-transform: none;
    font-weight: 500;
    font-size: 32px;
    line-height: 133%;
    color: #1F2E35;
}

.product__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 41px;
}

.product__item{
    max-width: 360px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}


.item__img{
    width: 100px;
    height: 100px;
}

.item__title{
    text-transform: none;
    color: #EE4248;
    line-height: 133%;
    font-size: 28px;
    font-weight: 500;
}

.item__text{
    font-weight: 400;
    line-height: 150%;
    color: #30444E;
    padding-bottom: 10px;
}




.product__btn{
    transition: all 0.3s ease;
    font-size: 18px;
    text-align: center;
    display: block;
    max-width: 161px;
    justify-content: center;
    margin-top: 24px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #EE4248;
    color: #fff;
    margin-top: auto;
    
}

.product__btn--active:hover{
    background-color: #1F2E35;
    transition: all 0.3s ease;
}

.about{
    background-color: #F6F6F6;
}

.about__content{
    display: flex;
    align-items: center;
    min-height: 500px;

}

.about__desc{
    padding-top: 57px;
    max-width: 520px;
    margin-left: 82px;
}

.about__title{
    text-transform: none;
    font-size: 32px;
    line-height: 133.69%;
    font-style: normal;
    color: #1F2E35;
}

.about__text{
    margin-top: 24px;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
}